* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive, sans-serif;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
a {
  text-decoration: none;
  color: #aaa
}
html,
body {
  font-size: 50px;
  height: 100%;
  background-color: #f46036;
  color: #ccc;
}

/***************** pg-header START *****************/

.pg-header {
  background-color: #3a2568;
  color: #fff;
  padding: .75rem 0;
  font-size: .5rem;
  text-align: center
}

.pg-header h1 {
  margin-bottom: .5rem;
}
/***************** pg-header END *****************/

/***************** pg-content START *****************/
.pg-content {
  width: 80%;
  margin: 0 auto;
  font-size: .5rem;
  padding: .5rem .75rem;
}
/* .pg-content search-container START */
.search-container {
  text-align: center;
  width: 10rem;
  margin: 0 auto;
  padding: 0 .8rem;
  margin-bottom: .5rem;
}
.search-container .search-input {
  margin-bottom: .25rem;
}
.search-input .search-input-text{
  padding: .2rem .4rem;
  width: 100%;
}
.search-submit {
  padding: .2rem .3rem;
  display: block;
  width: 100%;
}
/* .pg-content search-container END */

/* .pg-content search-result START */
.search-result {
  width: 10rem;
  margin: 0 auto;
  position: relative;

}
.search-result .result-filter {
  position: absolute;
  right: .2rem;
  top: .2rem;
  font-size: .25rem
}
.result-filter label{
  cursor: pointer;
}
.result-filter label.active {
  padding: .2rem;
  color: #f46036;
  background-color: #fff;
  border-radius: .3rem;
}
.result {
  position: absolute;
  left: 0;
  top: 1rem;

}
.result > div, .result > input[type='radio'] {
  display: none;
} 
.result input[type='radio']:checked ~ div {
  display: block
}
.result-item {
  display: flex;
  font-size: .35rem;
  background-color: #fff;
  padding: .25rem;
  margin-bottom: .5rem;
}
.item-title {
  flex: 1;
  text-align: center;
  color: #f46036
}
.item-title .item-logo {
  border-radius: 50%;
  width: 2rem;
  border: 2px solid #fff;
  margin-bottom: .35rem;
}
.item-info{
  padding: .25rem;
}
.item-info > div {
  margin-bottom: .3rem;
}
.item-status {
  text-align: right;
  padding: 0 .25rem;
  color: #fff
}
.item-status span {
  background-color: #fff;
  padding: .15rem
}
.item-status.online span {
  background-color: green;
}
.item-status.offline span {
  background-color: red;
}
/* .item-status.online {
  color: green
}
.item-status.offline {
  color: red
} */
.item-views {
  color: #f46036;
  text-align: right;
}
/* .pg-content search-result END */


/***************** pg-content END *****************/
